@charset "UTF-8";

body {
    background-color: #d2d2c1 url('imagens/fundo.png');
    font-family: Arial, Helvetica, sans-serif;
    
}
h1 {
    color: #828271;
    font-size: 1.3em;
}

#principal {
    border: 1px solid black;
    width: 900px;
    height: 390px;
}

#menu {
    background-color: #c5c5b2;
    padding: 18px;
}

#conteudo {
    background-color: #e8e8d9;
    padding: 10px;
}

a {
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.centralizar {
    text-align: center;
    padding: 10px;
}

.img-campanha {
    border: 10px solid rgb(85, 83, 83);
}